<mat-card>
  <mat-card-title>Grid List</mat-card-title>
  <mat-grid-list cols = "4" rowHeight = "100px" color="primary">
     <mat-grid-tile 
     [colspan] = "3"
     [rowspan] = "1" color="primary">1
     </mat-grid-tile>
     <mat-grid-tile 
     [colspan] = "1"
     [rowspan] = "2" color="primary">2
     </mat-grid-tile>
     <mat-grid-tile 
     [colspan] = "1"
     [rowspan] = "1" color="primary">3
     </mat-grid-tile>
     <mat-grid-tile 
     [colspan] = "2"
     [rowspan] = "1" color="primary">
     </mat-grid-tile>
  </mat-grid-list>
</mat-card>
